* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.hidden { display: none; }


html, body { height: 100% }

body { 
    font-family: 'Yeseva One', cursive;
    background-color: #ffffff;
    color: white;
    position: sticky;
    background-image: url('../img/images/denim.png');
    width: 100vw;
}

h1 {
    font-size: 70px;
} 
h2 { font-size: 50px;}
h3 { font-size: 30px;}
p { font-size: 20px;}
/* main header rules */

.header {
    background: #000000;
    top: 0;
    z-index: 100px;
    position: sticky;
    padding-left: 17vw;
    padding-bottom: 0px;
}



/* main rules here */    


#character_nav {
    text-align: center;
    background-color: #2f0e1b;

    background-image: url('../img/banners/bg_banner.jpg');

    background-repeat: no-repeat;
    background-size: cover;

    background-blend-mode: multiply;
}

.characters {
     list-style-type: multiply; 
}

.characters li { 
    display: inline-block; 
    height: 450px;
    margin: 15px 15px;

    background-color: black ;

    text-align: left;

    cursor: pointer;
}

.characters li h4 { 
    position: relative;
    color: white;
    padding: 12px 8px;
    font-style: italic;
    font-size: 18px;
}

.characters li a {
     text-decoration: none;
}

/* sprite */
.bumper{
    width: 400px;
    height: 6px;
    background-color: #841641;
    
    transition: height 0.5s ease;

    position: absolute;
    z-index: 50px;
}
.characters li:hover .bumper { 
    height: 50px; width: 400px; 
}

.sprite1 {
    width: 400px;
    height: 400px;

    background-image: url('../img/sprites/george_sm.jpg');
}
.sprite2 {
    width: 400px;
    height: 400px;

    background-image: url('../img/sprites/nicole_sm.jpg');
}
.sprite3 {
    width: 400px;
    height: 400px;

    background-image: url('../img/sprites/taylor.jpg');
}
.sprite4 {
    width: 400px;
    height: 400px;

    background-image: url('../img/sprites/jada_sm.jpg');
}
.sprite5 {
    width: 400px;
    height: 400px;

    background-image: url('../img/sprites/alex_sm.jpg');
}
.sprite6 {
    width: 400px;
    height: 400px;

    background-image: url('../img/sprites/leylah_sm.jpg');
}
.sprite7 {
    width: 400px;
    height: 400px;

    background-image: url('../img/sprites/millie_sm.jpg');
}
.sprite8 {
    width: 400px;
    height: 400px;

    background-image: url('../img/sprites/choncho_sm.jpg');
}


#George { background-position: -400px 0;}
#Nicole { background-position: -400px 0;}
#Taylor { background-position: -400px 575px;}
#Jada { background-position: -400px 0;}
#Alex { background-position: -400px 0;}
#Leylah { background-position: -400px 0;}
#Millie { background-position: -400px 0;}
#Choncho { background-position: -400px ;}



.sprite:hover {
     background-position-y: -400px !important;
    }

article {padding: 20px;}

article h3 {
    font-display: url('../css/night_train_382.ttf');
    font-size: 2em;
    text-align: center;
    margin-bottom: 14px;
}

/*select h3 tag inside the article tag on page*/
/*a selector followed by a space and then ANOTHER seletcor gets a reference to the parent*/
article p {
    width: 80%;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
}

#container {
    background: #2f0e1b 1900px 110px; 
    }

.row {
    display: inline-block;
    grid-column: span 10;
}

.album_images {
    padding: 150px;
    width: 100vw;
    align-items: center;
}
.album_images ul li {
    display: inline-block;
    height: 170px;
}

.album-img { 
    width: 20vw;
    padding-top: 10px;
    padding-left: 30;
}

#video {
    background-color: #2f0e1b;
    width: 100vw;
    height: 700px;
}

/* footer rules here */
footer {
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p { font-size: 12px;}
    
.sticky_footer {
    top: 100%;
    height: 80px;
    position: static;
}

.lightbox { 
    width: 100vw; /* vw = viewport width => screen width */
    height: 100vh; /* vh = viewport height => screen height */

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.85);

    background-size: 100%; /* 55% of the viewport height */
    background-position: fill;

    z-index: 5000;

    display: none;
}
.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;

    color: white;
    font-size: 3em;

    text-decoration: none;

    font-weight: bolder;
}
.lightbox_close:hover { opacity: 0.5; color: #841641;}


.lightbox:target {user-select: auto;}
.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_text, .lb_heading { text-align: right;}

.lb_text {
    line-height: 1.6 !important;
    margin-right: 0;
    padding-top: 2em;
    width: 35vw;
    font-size: 25pt;
}

#lb-txt-jada {
    padding-top: 15px;
    width: 25vw;
}
/* turn the lightbox on using the :target pseudo selector */
.lightbox:target { display: block;}

#lb-George {
    background-image: url('../img/lightbox/lb_george.png');
    background-repeat: no-repeat;
}
#lb-Nicole {
    background-image: url('../img/lightbox/lb_nicole.png');
    background-repeat: no-repeat;
}
#lb-Taylor {
    background-image: url('../img/lightbox/lb_taylor.png');
    background-repeat: no-repeat;
}
#lb-Jada {
    background-image: url('../img/lightbox/lb_jada.png');
    background-repeat: no-repeat;
}
#lb-Alex {
    background-image: url('../img/lightbox/lb_alex.png');
    background-repeat: no-repeat;
}
#lb-Leylah {
    background-image: url('../img/lightbox/lb_leylah.png');
    background-repeat: no-repeat;
}
#lb-Millie {
    background-image: url('../img/lightbox/lb_millie.png');
    background-repeat: no-repeat;
}
#lb-Choncho {
    background-image: url(../img/lightbox/lb_choncho.png);
    background-repeat: no-repeat;
}


.lightbox article h3 {
    font-style: italic;
}